.site-footer {
    position: relative;
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Shadows Into Light', cursive;
    line-height: 1.7em;
    color: #BBC7CC;
    text-align: center;
    background: transparent;
}

.site-footer a {
    color: #BBC7CC;
    text-decoration: underline;
}

.site-footer a:hover {
    color: #fff;
}

.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}

.poweredby .icon-ghost:hover {
    text-decoration: none;
}

.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}
.site-footer a.icon {
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
}