/* Every post, on every page, gets this style on its <article> tag */
.post {
    position: relative;
    width:80%;
    max-width: 700px;
    margin: 4rem auto;
    padding: 4rem 2rem 4rem 10rem;
    border-radius: 5px;
    word-break: break-word;
    hyphens: auto;
    background: url(../images/postbg.jpg) repeat-y;
    -webkit-box-shadow: 0px 5px 8px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 5px 8px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 5px 8px rgba(50, 50, 50, 0.3);
}

.post:before {
    display: block;
    content: "";
    width: 100%;
    height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: url(../images/postbg-top.png) no-repeat;
    border-radius: 8px 8px 0 0;
}
.post:after {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/postbg-bottom.png) repeat-x;
    border-radius: 0 0 8px 8px;
}
.post-date {
    color: #fff;
    position: absolute;
    right: -48px;
    top: 50px;
    z-index: 5;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    font-size: 16px;
}
.post-title {
    margin: 2rem 100px 0 0;
    font-family: 'Shadows Into Light', cursive;
}

.post-title a {
    text-decoration: none;
}

.post-excerpt p {
    margin: 3rem 6rem 0 0;
    font-size: 0.86em;
    line-height: 2em;
}

.post-excerpt a, .post-content a {
    color: #3c5b9a;
}

.post-excerpt a:hover, .post-content a:hover {
    color: #f43059;
}
.post-meta {
    display: inline-block;
    margin: 0 0 5px 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.8rem;
    color: #9EABB3;
    z-index: 5;
}

.post-meta a {
    color: #9EABB3;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.user-meta {
    position: relative;
    padding: 0.3rem 40px 0 100px;
    min-height: 77px;
}

.user-image {
    position: absolute;
    top: 0;
    left: 0;
}

.user-name {
    display: block;
    font-weight: bold;
}

.user-bio {
    display: block;
    max-width: 440px;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.publish-meta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.3rem 0 4rem 0;
    text-align: right;
}

.publish-heading {
    display: block;
    font-weight: bold;
}

.publish-date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
}
.post:nth-child(even) .card {
    -webkit-transform: scale(0.95) rotate(1deg);
    -moz-transform: scale(0.95) rotate(1deg);
    transform: scale(0.95) rotate(1deg);
}

.post img {
    display: block;
    width: 100%;
    height: auto;
}
/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */

/* Tweak the .post wrapper style */
.post-template .post {
    margin-top: 0;
    border-bottom: none;
}

/* Insert some mad padding up in the header for better spacing */
.post-template .post-header {
    padding: 60px 0;
}

.post-content {
    margin-right: 4rem;
}
/* The author credit area after the post */
.post-footer {
    position: relative;
    margin: 4rem 4rem 0 0;
    padding: 4rem 0 0 0;
    border-top: #EBF2F6 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.6em;
}

/* Create some space to the right for the share links */
.post-footer .author {
    margin-right: 180px;
}

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
    position: absolute;
    top: 4rem;
    right: 0;
    width: 140px;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1.4rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
}

.post-footer .share a:hover {
    color: #238b6d;
}

/* The main wrapper for our pagination links */
.pagination {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 4rem auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

/* Push the previous/next links out to the left/right */
.older-posts {
    right: 0;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: #f43059;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
}

.newer-posts {
    left: 0;
}

time.post-date {
    background: #f43059;
    border: 0 solid rgba(0,0,0,0.1);
    color: #fff;
    position: relative;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}

.folded:before, .folded:after {
    bottom: 26px;
    box-shadow: 0 28px 8px rgba(0,0,0,0.5);
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: -1;
}
.folded:before {
    left: 2%;
    transform: rotate(-3deg);
}
.folded:after {
    right: 2%;
    transform: rotate(3deg);
}
.folded time.post-date {
    border-width: 1px 1px 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    margin: 0;
    padding: 2px 30px;
    position: absolute;
    right: -14px;
    top: 12px;
    height: auto;
}
.folded time.post-date:after {
    border-width: 7px;
    border-style: solid;
    border-color: #134 transparent transparent #134;
    bottom: -15px;
    content: "";
    position: absolute;
    right: -1px;
}