<footer class="site-footer">
  {{!-- <div class="social"> --}}
    <a class="shake icon ion-social-rss" href="rss/" title="My Blog RSS"></a>
    <a class="shake icon ion-social-twitter" href="http://twitter.com/altynweb" title="My Twitter Feed"></a>
    <a class="shake icon ion-social-facebook" href="http://facebook.com/AltynWeb" title="My Facebook Page"></a>
    <a class="shake icon ion-social-googleplus" href="https://plus.google.com/u/1/116127173072762010623" title="My Google+ Page"></a>
  {{!-- </div> --}}
  <div class="inner">
    <section class="copyright">All content copyright <a href="http:/pramod.ninja">Sumedha Pramod</a> &copy; 2015 &bull; All rights reserved.</section>
  </div>
</footer>