<header id="site-head">
  <div class="vertical">
    <div id="site-head-content" class="inner">
      <a id="blog-logo" href="index.html" title="Home">
        <h1 class="blog-title">Shwetha's Blog</h1>
      </a>
    </div>
  </div>
</header>